*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.boxone {
    margin: auto;
    display: flex;
    flex-direction: column;
      align-items: center;
    margin: 10px 0 20px 0;
}



.btnOne {
  margin-top: 20px;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 12px 16px;
}

.boxone input {
    padding: 16px 12px 0 12px;
    border: blue 2px solid;
}


.boxtwo {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #FFFAFA;
    width: 300px;
    height: 300px;
    margin: auto;
    font-size: 1rem;
    font-family: "Anton", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.temp {
     font-family: "Anton", sans-serif;
    font-size: 2rem;
}